table{
    font-family: sans-serif;
    border:5px ;
    margin: 0 auto;
    text-align: center;
    width:75%;
    background-color:#0099cc;
} 
table, th, td {
  border: 1px solid;
}
th {
  background-color: #0099cc;
  color: white;
}
.ram{
    position: fixed;

    top: 22%;
    left: 40%;
    color: #ffa64d;
/*    text-align: center;
    margin:0 auto;*/
    
} 
.hem{
        background-color: #eb99ff;
        width: 350px;
        top: 70%;
        left:50%;
        right:100%;
        bottom: 50%;
        transform: translate(-50% -50%);
        font-family:sans-serif;
        color: black;
        position: center;
        margin-left: 550px;
        margin-top: 200px;
        border-radius: 5px
    }
.hem input{
    font-size:30px bold; 
    width:95%;
    padding:5px 5px;
    border:0;
    outline:none;
    border-radius:5px;
    margin: 10px;
    margin-left:10px;

}

form{
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;
}

.hem button{
    font-size:18px; 
    font-weight:bold;
    margin: 0;
    padding:10px 15px ;
    width:30%;
    border-radius: 5px;
    border: 0 
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    }
    body{
        background: url(https://cdn.glitch.global/265d6483-bf0e-450a-a2b4-da68989b2203/bg2.png?v=1682859705197) no-repeat;
        background-size: cover;
    }